// components
@import './components/buttons';
@import './components/carousel-button';
@import './components/chief-card';
@import './components/format-card';
@import './components/links';
@import './components/form-terms';
@import './components/input';

// layouts
@import './layouts/advantages';
@import './layouts/chief';
@import './layouts/contact';
@import './layouts/container';
@import './layouts/footer';
@import './layouts/formats';
@import './layouts/header';
@import './layouts/hero';
@import './layouts/modal';
@import './layouts/section';
@import './layouts/traditions';

// utils
@import './utils/fonts';
@import './utils/mixin';
@import './utils/utils';
@import './utils/variables';
@import './utils/texts';

// base
@import './base';

/* footer */
.footer {
    background-image: url('../images/footer-bcg.png');
    background-color: var(--primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
    position: relative;
}

.footer::after,
.footer::before {
    position: absolute;
    background-repeat: no-repeat;
    bottom: 0;
    content: '';
}

.footer::before {
    background-image: url('../images/footer-right-bread.png');
    width: 180px;
    height: 120px;
    left: 0;
}

.footer::after {
    background-image: url('../images/footer-left-bread.png');
    width: 380px;
    height: 190px;
    right: 0;
}


.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.address-list,
.address-info {
    flex-grow: 1;
}

.address-link {
    color: var(--primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--brand-dark);
}

.address-copyright {
    font-size: 14px;
    color: rgba(162, 130, 104, 1);
}

.address-social {
    fill: var(--primary-light);
}

.address-social:hover {
    fill: var(--brand-light);
}

/* Modal*/


/* имплементация с переходом лейбла плавно в верх

.form-field{
    position: relative;
    margin-bottom: 32px;
}

.form-label{
    position: absolute;
    top: 16px;
    left: 42px;
    font-size: 16px;
    line-height: 1.17;
    color: var(--secondary-brown);
    transition: transform 0.3s;
}

.form-field:focus-within .form-label{
    transform: translate(-36px, -40px);
}

.form-input{
    padding: 16px 42px;
    width: 100%;
    border: 1px solid var(--secondary-brown);
    border-radius: 8px;
    background-color: transparent;
}

.form-input:focus {
    border: 1px solid var(--brand-light);
    outline: none;
}

.form-input::placeholder {
    color: var(--secondary-brown);
} */