.button {
    display: block;
    padding: 16px 32px;
    color: var(--primary-light);
    background-color: var(--brand-light);
    border: 2px solid var(--brand-light);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: color 0.3s;
}

.button:hover {
    color: var(--brand-light);
    background-color: transparent;
}