.chief-card {
    display: flex;
    gap: 30px;

    &__photo {
            border-radius: 4px 4px 4px 200px;
            box-shadow: -16px 16px 0 0 var(--primary-light), -16px 16px 0 2px var(--secondary-brown);
        }
    
        &__title {
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 16px;
        }
    
        &__text {
            margin-bottom: 24px;

            &:last-child {
                    margin-bottom: 0;
                }
        }
}

