.format-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 444px;
    padding: 18px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(49, 37.999996185302734, 26, 0) 55%, rgba(49, 37.999996185302734, 26, 0.71) 73%, rgba(49, 38, 26, 1) 100%);
    
    &__title {
        font-size: 24px;
        font-weight: 600;
        color: var(--primary-light);
    }

    &__text {
        font-size: 14px;
        font-weight: 300;
        max-width: 310px;
        max-height: 140px;
        color: var(--primary-light);
        margin-bottom: 24px;
    }



    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}