@use './variables' as*;

.footer {
    text-align: center;
    background-image: url('../images/footer-bcg.png');
    background-color: var(--primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
    position: relative;

    &::after,
    &::before {
        position: absolute;
        background-repeat: no-repeat;
        bottom: 0;
        content: '';
    }
    
    &::before {
        background-image: url('../images/footer-right-bread.png');
        width: 180px;
        height: 120px;
        left: 0;
    }
    
    &::after {
        background-image: url('../images/footer-left-bread.png');
        width: 380px;
        height: 190px;
        right: 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
        }
    }
    
    &__nav,
    &__address {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: $bp-tablet){
            flex-direction: row;
            flex-basis: 50%;
            text-align: left;
        }
    }
    
    &__logo,
    &__menu {
        flex-grow: 1;
    }

    &__address-list,
    &__address-info {
        flex-grow: 1;
    }
    
    &__address-link {
        color: var(--primary-light);
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
    }
    
    &__address-link:hover {
        color: var(--brand-dark);
    }
    
    &__address-copyright {
        font-size: 14px;
        color: rgba(162, 130, 104, 1);
    }
    
    &__address-social {
        fill: var(--primary-light);
    }
    
    &__address-social:hover {
        fill: var(--brand-light);
    }

    &__address-list{
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        gap: 16px;
    }

    &__address-social-links{
        display: flex;
        flex-direction: row;
        gap: 22px;
        justify-content: center;
        margin-bottom: 8px;

        @media screen and (min-width: $bp-tablet){
            justify-content: left;
        }
    }

}

