@use './variables' as*;

.hero-section {
    padding: 124px 0;
    background-image: linear-gradient(126.97deg, rgba(18.0625, 17.666563034057617, 17.234634399414062, 0.78), rgba(18.0625, 17.666563034057617, 17.234634399414062, 0.6) 64%, rgba(18.0625, 17.666563034057617, 17.234634399414062, 0) 100%),
        url('../images/hero-bcg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @media screen and (min-width: $bp-desktop) {
            font-size: 272px 0;
    }

    @media screen and (min-resolution: 2dppx){
        background-image: linear-gradient(126.97deg, rgba(18.0625, 17.666563034057617, 17.234634399414062, 0.78), rgba(18.0625, 17.666563034057617, 17.234634399414062, 0.6) 64%, rgba(18.0625, 17.666563034057617, 17.234634399414062, 0) 100%),
            url('../images/hero-bcg@2x.jpg');
    }

    &__title {
            margin-bottom: 48px;
            color: var(--primary-light);
            text-align: center;
            font-size: 67px;
            line-height: 1;
            font-weight: 900;

            @media screen and (min-width: $bp-desktop) {
                font-size: 128px;
                line-height: 1.5;
                margin-bottom: 0;
            }
        }

    &__button{
        margin: 0 auto;

        @media screen and (min-width: $bp-desktop) {
                display: none;
            }

    }
}
