:root {
    --brand-light: #819B57;
    --brand-dark: #465929;
    --primary-light: #FAF4EA;
    --primary-dark: #31261A;
    --decor-green: #CFCFBC;
    --secondary-brown: #A18268;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;